@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Settings";
}

<div class="pageheader">
        <h2><i class="fa fa-gear"></i>Settings</h2>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#General" data-toggle="tab"><strong>General</strong></a></li>
                <li><a href="#ActiveDirectory" data-toggle="tab"><strong>Active Directory</strong></a></li>
            </ul>

            <div class="tab-content" id="validateForm">
                <div class="tab-pane active" id="general">
                        <div class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Company Name:<span class="asterisk">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" id="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Login Logo:</label>
                                        <div class="col-sm-4">
                                            <input type="file" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Corner Logo:</label>
                                        <div class="col-sm-4">
                                            <input type="file" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">&nbsp;</label>
                                        <div class="col-sm-4">
                                            <div class="ckbox ckbox-success">
                                                <input type="checkbox" />
                                                <label>Enable reseller accounts</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

</script>
